html
    head
        title The page's title goes here
        link(rel="stylesheet", href="/css/styles.css")
    body
        main
            input(
              type='text'
              name='agreement'
            )

            a(href="/cv")
                button valider